<% if (page.comments && theme.youyan_shortname){ %>
  <!-- UY BEGIN -->
    <section id="youyan-comments">
        <div id="yy-thread"></div>
        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2140937"></script>
    </section>
    <!-- UY END -->
<% } %>

