<% if (theme.gitalk_shortname){ %>

 <section class="gitalk-comments">
    <!-- 评论框 start -->
    <div id="gitment" data-thread-key="<%= url %>" data-title="<%= page.title %>" data-url="<%= url %>"></div>
    <!-- 评论框 end -->
  </section>

  <script type="text/javascript">
    var gitment = new Gitment({
        owner: 'icebergcwp1990',
        repo: 'blog-hexo',
        oauth: {
          client_id: 'fa6d900315185857f892',
          client_secret: 'b93e7901b0b17ae685221aacd6348824aa737d85',
        },
    })
    gitment.render('gitment')
  </script>
<% } %>
